[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Nebulosa"]
	path = Nebulosa
	url = https://github.com/powellgenomicslab/nebulosa
